<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title><%=title%></title>
		<meta name="generator" content="Bootply" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">

    <link href="css/styles.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">

	</head>
	<body>
<header class="navbar navbar-bright navbar-fixed-top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <nav class="collapse navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li>
          <a href="/home">Home</a>
        </li>
        <%for(i=0;i<nav.length;i++){%>
        <li>
          <a href="<%=nav[i].link%>"><%=nav[i].name%></a>
        </li>
        <%}%>
      </ul>
      <ul class="nav navbar-right navbar-nav">
        <li>
          <a href="/">Logout</a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<div id="masthead">  
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1>Add New Book
          <p class="lead"></p>
        </h1>
      </div>
      <div class="col-md-5">
        <div class="well well-lg"> 
          <div class="row">
            <div class="col-sm-12">
              
			
            </div>
          </div>
        </div>
      </div>
    </div> 
  </div><!-- /cont -->
  
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="top-spacer"> </div>
      </div>
    </div> 
  </div><!-- /cont -->
  
</div>


<div class="container">
  <div class="row">
    
    <div class="col-md-12"> 
      
      <div class="panel">
        <div class="panel-body">
          
          
          
          <!--/stories-->
          <form action="/add-books" method="POST">
            <div class="row row-space">
                <div class="col-md-6">
                    <div class="input-group text-center">
                        <label class="label1">Title</label>
                        <input class="input1--style-7" type="text" name="name" placeholder="Title of Book" id="titlebook" required>
                    </div>
                </div><br>
                <div class="col-md-6">
                    <div class="input-group text-center">
                        <label class="label1">Name of Author</label>
                        <input class="input1--style-7" type="text" name="author" placeholder="Name of Author" id="Author" required>
                    </div>
                </div>
            </div><br>
            <div class="row row-space">
              <div class="col-md-6">
                <div class="input-group text-center">
                    <label class="label1">Description</label>
                    <textarea class="input1--style-7" type="text" name="description" placeholder="Description of Author" id="description" required></textarea>
                </div>
            </div>
              <div class="col-md-6">
                  <div class="input-group text-center">
                      <label class="label1">Genre</label>
                      <input class="input1--style-7" type="text" name="genre" placeholder="Genre of Book" id="genre" required>
                  </div>
              </div>
              <div class="col-md-12">
                  <div class="input-group text-center">
                      <label class="label1">Image</label>
                      <input class="input1--style-7" type="file" name="image" accept="image/*" id="image" required>
                  </div>
              </div>
          </div>
            <div class="p-t-15 text-center">
                <button class="btn btn--radius-2 btn-success btn-lg" type="submit">Submit</button>
            </div>
        </form>
          <!--/stories-->
          
          
        
          
        </div>
      </div>
                                                                                       
	                                                
                                                      
   	</div><!--/col-12-->
  </div>
</div>
                                                
                                                                                
<hr>

<div class="container" id="footer">
  <div class="row">
    <div class="col col-sm-12">
      
      <h1>Follow Us</h1>
      <div class="btn-group">
       <a class="btn btn-twitter btn-lg" href="#"><i class="icon-twitter icon-large"></i> Twitter</a>
	   <a class="btn btn-facebook btn-lg" href="#"><i class="icon-facebook icon-large"></i> Facebook</a>
	   <a class="btn btn-google-plus btn-lg" href="#"><i class="icon-google-plus icon-large"></i> Google+</a>
      </div>
      
    </div>
  </div>
</div>

<hr>

<hr>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <ul class="list-inline">
          <li><i class="icon-facebook icon-2x"></i></li>
          <li><i class="icon-twitter icon-2x"></i></li>
          <li><i class="icon-google-plus icon-2x"></i></li>
          <li><i class="icon-pinterest icon-2x"></i></li>
        </ul>
        
      </div>
      <div class="col-sm-6">
        <p class="pull-right">Developed and Maintained By Muhammed Shiyad</p>      
      </div>
    </div>
  </div>
</footer>
	<!-- script references -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
	</body>
</html>