<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title><%=title%></title>
		<meta name="generator" content="Bootply" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">

        <link href="/css/main.css" rel="stylesheet">
        <!-- jquery link-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	</head>
	<body>
    <div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
        <div class="wrapper wrapper--w680">
            <div class="card card-4">
                <div class="card-body">
                    <h2 class="title text-center"><b>Welcome To Library App</b><br>Log-in</h2>
                    <form action="/login" method="POST">
                        <div class="row row-space">
                            <div class="col-md-12">
                                <div class="input-group text-center">
                                    <label class="label1">Email address</label>
                                    <input class="input1--style-7" type="email" name="email" placeholder="Email address" id="email" required>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="input-group text-center">
                                    <label class="label1">Password</label>
                                    <input class="input1--style-7" type="password" name="password" placeholder="password" id="pwd" required>
                                </div>
                            </div>
                        </div>
                        <div>
                            <p class="text-center">Create new account ?<a href="/signup" id="signlink">  Sign-Up</a></p>
                        </div>
                        <div class="p-t-15 text-center">
                            <button class="btn btn--radius-2 btn-success btn-block" type="submit">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>                                                                  
<hr>

<footer class="navbar navbar-fixed-bottom">
  <div class="container text-white">
    <div class="row">
      <div class="col-sm-6">
        <ul class="list-inline">
          <li><i class="icon-facebook icon-2x"></i></li>
          <li><i class="icon-twitter icon-2x"></i></li>
          <li><i class="icon-google-plus icon-2x"></i></li>
          <li><i class="icon-pinterest icon-2x"></i></li>
        </ul>
        All rights reserved &copy;2021.<br>
        Developed and Maintained by Muhammed Shiyad
      </div>
    </div>
  </div>
</footer>
	<!-- script references -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        
    <!-- Jquery JS-->
    <script src="/vendor/jquery/jquery.min.js"></script>

    <!-- Main JS-->
    <script src="/js/global.js"></script>
    <script src="/js/validate.js"></script>

	</body>
</html>